<div class="container-fluid wrapper pl-25">
	<div class="row">
		<div class="col-md-4">
			<app-first-slide></app-first-slide>
		</div>
		<!-- <div class="col-md-4">
			<app-second-slide></app-second-slide>
		</div> -->
		<div class="col-md-8">
			<div class="three_slide slide">
				<div class="row p-0 third_card_head">
					<div class="col-md-12">
						<p>
							Categories
						</p>
					</div>
				</div>
			<div class="row third_row">
				<div class="col-md-12 third_slide_content category_section" id="scroll2">
          <div class="row">

            <div routerLink="/reading-material/{{submoduleId}}/{{classId}}"
                class="col-md-5 mx-29 third_slide_card article_cate_card">
              <p>
                <!-- Reading Material -->
                Lesson Plan
              </p>
            </div>

            <div routerLink="/quiz/{{submoduleId}}/{{classId}}"
              class="col-md-5 mx-29 third_slide_card quiz_cate_card">
              <p>
                Assessment
              </p>
            </div>


            <div routerLink="/video/{{submoduleId}}/{{classId}}"
                class="col-md-5 mx-29 third_slide_card video_cate_card ">
              <p>
                Story
              </p>
            </div>

            <div routerLink="/activities/{{submoduleId}}/{{classId}}"
                class="col-md-5 mx-29 third_slide_card activities_cate_card">
              <p>
                Activity
              </p>
            </div>

            <div routerLink="/article/{{submoduleId}}/{{classId}}"
              class="col-md-5 mx-29 third_slide_card reading_cate_card">
              <p>
                <!-- Articles -->
                Worksheet              
              </p>
            </div>

            <div routerLink="/assignment/{{submoduleId}}/{{classId}}"
                class="col-md-5 mx-29 third_slide_card assignment_cate_card">
              <p>
                Assignment
              </p>
            </div>

            

            

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

