.main_sidebar{
	background: #752234;
	width: 340px;
	max-height: 92vh;
	font-weight: 300;
	position: fixed;
    right: -265px;
    transition: right 0.4s;
    overflow-y: scroll;
    top: 59px;
    z-index: 100;
}
.main_sidebar a{
	color: white !important;
	padding: 0;
}
.main_sidebar a:hover{
	text-decoration: none;
}
.main_sidebar .p-0.first_ul li{
	padding: 10px 10px 10px 25px;
	letter-spacing: 0.6px;
	position: relative;
	cursor: pointer;
}
.main_sidebar .first_ul li img{
	margin-right: 20px;
    padding-bottom: 3px;
}
.main_sidebar .first_ul li img:nth-child(1){
	margin-right: 0px;
    padding-bottom: 3px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.main_sidebar .first_ul li img:nth-child(2){
	position: absolute;
    right: 25px;
    top: 20px;
}
.main_sidebar .first_ul .btn{
	font-weight: 300;
    width: 100%;
    text-align: left;
}
.main_sidebar .second_ul{
	padding-left: 52px;
}
.main_sidebar .second_ul li{
	color: white;
	font-size: 15px;
	cursor: pointer;
}
.main_sidebar .second_ul li:hover{
	color: #909090 !important;
}
.btn.btn-default:focus{
	box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.menu_wide{
	right: 0 !important;
	transition: right 0.5s;
}
#scroll::-webkit-scrollbar {
    border-radius: 32px !important;
    width: 6px;
    background-color: #752234;
}
#scroll::-webkit-scrollbar-thumb{
    border-radius: 32px !important;
    margin-right: 5px;
    background: #fff;
}
.slide{
	min-height: 575px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.17);
	border-radius: 6px;
}

.main_sidebar .p-0.first_ul>li:hover{
	background: #ffffff0d;
}